.gradle
local.properties
build/
kotlin-js-store
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.hprof
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Mac OS ###
.DS_Store