<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Widget"
        android:enableOnBackInvokedCallback="true">
        <activity
            android:name=".example.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".example.DrawerActivity"
            android:exported="true"/>
        <activity
            android:name=".example.PagerActivity"
            android:exported="true" />
        <activity
            android:name=".example.NavBarActivity"
            android:exported="true" />
        <activity
            android:name=".example.FullAppIntroActivity"
            android:exported="true" />
        <activity
            android:name=".example.HandleConfigChangesActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboardHidden"
            android:exported="true" />
        <activity
            android:name=".example.AdaptableSizeNodeActivity"
            android:exported="true" />
        <activity
            android:name=".example.ComposeAppActivity"
            android:exported="true" />
    </application>

</manifest>